<div class="users mt-2 px-2 ">
        <div id="material-tabs" class="bg-white text-dark" >
            <a [id]="menu.tab" [routerLink]="menu.link" routerLinkActive="active" *ngFor="let menu of subMenu">
                <i class="material-icons">{{menu.icon}}</i>
                <span class="tab-label">{{menu.label}}</span>
            </a>
            <span class="bottom-bar "></span>
        </div>
    
        <div class="mt-2   ">
            <router-outlet></router-outlet>
        </div>
    </div>
    