<p-table #userActiveGrid class="user-approve-table" [value]="dataSource" responsiveLayout="scroll" editMode="row"
    dataKey="userId" styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="calc(100vh - 210px)"
    [paginator]="true" [rows]="10" [loading]="loading" width='100%' [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['email','mobile']">
    <ng-template pTemplate="caption">
        <div class="d-flex bg-white text-dark">
            <h6 class="my-auto">Active Users</h6>
            <div class="ms-auto my-auto me-2">
                <span class="p-input-icon-left me-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (keyup)="onGlobalFilter($event)" placeholder="Global Search" />
                </span>
                <app-user-add></app-user-add>
                <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-outlined ms-2"
                    (click)="getDataSource()"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" >
        <tr>
            <th class="email-column" pSortableColumn="email">
                Email<p-sortIcon field="email"></p-sortIcon>
            </th>
            <th class="mobile-column" pSortableColumn="mobile">
                Mobile<p-sortIcon field="mobile"></p-sortIcon>
            </th>
            <th class="date-column" pSortableColumn="date">
                Date<p-sortIcon field="date"></p-sortIcon>
            </th>
            <th class="role-column" pSortableColumn="role">
                Role<p-sortIcon field="role"></p-sortIcon>
            </th>
            <th class="action-column">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="user" class="bg-white text-dark">
            <td class="email-column">
                {{user.email}}
            </td>
            <td class="mobile-column">
                {{user.mobile}}
            </td>
            <td class="date-column">{{user.date | date}}</td>
            <td class="role-column">
                <p-cellEditor class="w-100">
                    <ng-template pTemplate="input">
                        <p-dropdown class="w-100 text-light" [(ngModel)]="user.roleId" [options]="roles" optionLabel="Admin"
                            optionValue="Admin">
                        </p-dropdown>
                        <p-dropdown class="w-100 text-light" [(ngModel)]="user.roleId" [options]="roles" optionLabel="Partner"
                            optionValue="Partner">
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.role ? user.role: 'No Role Assigned'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="text-center action-column">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(user)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No Active User, Please click <a class="link-warning px-2" role="button" (click)="addUser()">
                    Add User</a> to add new user.</td>
        </tr>
    </ng-template>
</p-table>