<div class="d-flex flex-column flex-shrink-0 h-100 sidemenu ">
    <a class="sm-logo d-flex flex-column text-center py-2 mx-auto text-decoration-none" title="Icon-only"
        data-bs-toggle="tooltip" data-bs-placement="right">
        <img class="sm-logo-abstract p-1 mx-auto" src="assets/img/logo-abstract.svg">
        <img class="sm-logo-txt text-center mx-auto" src="assets/img/logo-text.png">
    </a>

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center pt-2">
        <li class="nav-item" routerLinkActive="active-parent" *ngFor="let menu of menus">
            <a class="nav-link d-flex flex-column" [routerLink]="menu.link" routerLinkActive="menu-active">
                <i class="material-icons">{{ menu.icon }}</i>
                <span class="menu-lable">{{ menu.label }}</span>
            </a>
            <ul class="sub-menu" *ngIf="menu.childMenu">
                <li *ngFor="let child of menu.childMenu">
                    <a class="d-flex" [routerLink]="child.link" routerLinkActive="submenu-active">
                        <i class="material-icons">{{ child.icon }}</i>
                        <span>{{ child.label }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="dropdown bottom-menu dropend">
         <div class="theme-toggler">
            <i class="pi pi-moon active"></i>
            <i class="pi pi-sun"></i>
        </div>


        <div class="divider">
            <hr>
        </div>
        <a class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none dropdown-toggle "
            id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/SaiSid.jpg" alt="mdo" width="34" height="34" class="rounded-circle">
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser3">
            <li>
                <a class="dropdown-item">
                    <i class="material-icons">settings</i>
                    <span class="dropdown-label">Settings</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" >
                    <i class="material-icons">face</i>
                    <span class="dropdown-label">Profile</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" (click)="onLogout()">
                    <i class="material-icons">logout</i>
                    <span class="dropdown-label">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>