.preview {
    img {
        max-width: 350px;
    }
}

.cropper-image {
    height   : 100%;
    max-width: 100%;

    &Container {
        display         : flex;
        align-items     : center;
        flex-direction  : column;
        padding-top     : 32px;
        background-color: #f7f7fa;
    }
}

.img-preview {
    height    : 175px;
    max-width : 100%;
    background: black;
}