<p-fileUpload name="myfile[]" accept="image/*" [customUpload]="true" [auto]="true" (uploadHandler)="upload($event)">
</p-fileUpload>


<p-dialog  header="Poster upload" [(visible)]="posterUploadModal" [style]="{width: '85vw'}">
    <div class="row bg-white">
        <div class="col-8">
            <div class="d-flex flex-column">
                <div class="cropper-image mx-auto w-100">
                    <img class="w-100" #image [src]="imgUrl" (load)="imageLoaded()" />
                </div>
                <div class="p-1 mx-auto">
                    <div class="d-flex">
                        <button class="btn btn-primary" (click)="rotateLeft()"> Rotate Left</button>
                        <button class="btn btn-primary" (click)="rotateRight()"> Rotate Left</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <label class="text-center text-info">Preview</label>
                <img class="m-2 img-preview mx-auto" [src]="cropperImg">
                <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        <div class="col-12">
            <!--<img src="http://localhost:4200/posters/Vrna_89135954-b3eb-4d0b-b62f-0a3faf1f5c7c.jpg" width="100">-->
            <!--img src="http://ec2-3-21-205-116.us-east-2.compute.amazonaws.com:8089/posters/*" width="100">-->
            <img src="http://localhost:4200/posters/*">
            
        </div>
    </div>
</p-dialog>
<p-toast></p-toast>