.user-approve-table {
       
    .role-column {
        min-width: 250px;
        max-width: 300px;
       background:white;

    }

    .action-column {
        min-width: 125px;
        max-width: 130px;
        background:white;
    }
    .email-column{
       background:white; 
    }
    
}